body {
   /* background-image:  url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background:  #ffe259;
    background: linear-gradient(to right, #ffa751,#ffe259);
}