body{
    background:  #ffe259;
    background: linear-gradient(to right, #ffa751,#ffe259);
}
.bg{
    background-image:  url(../img/FondoR2.jpg);
    background-size: cover;
}
.Tam{
    font-size: 25px;
}
.INS{
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.INS:hover{
    color: #ffe259;
    font-family: 'Roboto', sans-serif;
}